<% content_for :title do %>
    Home | Donatable
<% end %>

<% content_for :jumbotron do %>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><%= t :welcome %></h1>
          <p class="lead">
            <%= t :main_subheader %>
          </p>
        </div>
    </div>
<% end %>

<% content_for :main do %>
    <div class="col-12 bd-content">
        <div class="content_block">
            <h2>Ipsum Lorem</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="content_block">
            <h3>Dolor Sit Amet</h3>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
</div>
<% end %>
