<% content_for :title do %>
    Home | Donatable
<% end %>

<% content_for :jumbotron do %>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><%= t :welcome %></h1>
          <p class="lead">
            <%= t :main_subheader %>
          </p>
        </div>
    </div>
<% end %>

<% content_for :main do %>
    <div class="col-12 bd-content">
        <div class="content_block">
            <h2>Features</h2>
            <ul>
              <li>Multilingual - Spanish and English are included and more languages can easily be added</li>
              <li>Accessibile - A focus on accessibility so the app is usable by all.</li>
              <li>Powerful Search - Our search engine can search across the full text added by an organization, and even understands typos.</li>
              <li>Reusable - Can be installed on Heroku with one-click.</li>
              <li>Rails friendly - This app is a Rails Engine, and can be installed into any rails app.</li>
              <li>Mobile ready - Donatable works well on mobile and desktop and anything in between.</li>
            </ul>
        </div>
        <div class="content_block">
            <h3>Who is this for?</h3>
            <ul>
              <li>Relief efforts that would like to have a easy-to-use donations platform.</li>
              <li>Relief apps that would like to add a donations feature as a plugin.</li>
              <li>Anyone looking for a central repository of organizations that can receive a donation.</li>
            </ul>
        </div>
</div>
<% end %>
