/* ----------------------------- */
/*        BUILDING BLOCKS        */
/* ----------------------------- */

@import "bootstrap";
@import "font-awesome";
@import "modules/color_palette";
@import "modules/kaminari";
@import "organizations";


/* ----------------------------- */
/*         GLOBAL STYLES         */
/* ----------------------------- */

// containers
.main {
    margin-bottom: 20px;
}
.bd-content {
    margin-bottom: 20px;
}
.content_block {
    margin: 0 0 40px 0;
    clear: both;
}

// header
nav {
    text-transform: uppercase;
}
.navbar-brand {
    font-size: x-large;
}

@media screen and (min-width: 992px) {
    .nav-item {
        padding: 15px 15px 12px;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        padding-top: 0;
        padding-bottom:0;
    }
    .nav-item {
        transition: .15s ease-in-out all;
        color: $mono-1;
        border-bottom: 3px solid transparent;
        &:hover {
            background-color: $orange-1;
            border-bottom-color: $orange-2;
        }
    }
    .nav-link {
        transition: .15s ease-in-out color;
    }
    .nav-item:hover > .nav-link {
        color: $mono-4!important;
    }
}

// jumbotron
.jumbotron {
    background-color: $orange-1;
    color: $mono-4;
    border-radius: 0;
    & h1 {
        font-weight: 500;
    }
    & a {
        color: $blue-5;
        &:hover {
            text-decoration: underline;
        }
    }
    & .lead {
        color: $mono-4;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

// typography
body {
    font-family: Helvetica, sans-serif;
}

// horizontal rules
.margin-40 {
    margin-top: 40px;
    width: 100%;
    clear: both;
    border: none;
}

// alerts
.alert {
    width: 100%;
}
.required {
    float: left;
    clear:both;
    color: darkred;
    font-size: small;
    padding: 0 20px;
}

// links
a {
    color: $blue-4;
    transition: 0.15s ease-in-out all;
    &:hover {
        color: $blue-3;
        text-decoration: none;
        cursor: pointer;
    }
}

// buttons
.btn {
    &:hover {
        cursor: pointer;
    }
}
.btn-primary {
    background-color: $blue-3;
    border-color: $blue-2;
    &:hover {
        background-color: $blue-2;
        border-color: $blue-1;
    }
}
.btn-warning {
    background-color: $orange-1;
    color: #fff;
    &:hover {
        background-color: $orange-2;
        color: #fff;
    }
}
.btn-outline-warning {
    color: $orange-1;
    border-color: $orange-1;
    &:hover {
        background-color: $orange-1;
        color: #fff;
    }    
}
.btn-secondary {
    background-color: $mono-2;
    border-color: $mono-1;
    &:hover {
        background-color: $mono-1;
        border-color: $mono-1;
    }
}

// accordions
.card-header {
    background-color: $mono-1;
    border-bottom: 1px solid $mono-2;
    color: $mono-4;
    & a {
        color: $mono-4;
        transition: 0.15s ease-in-out all;
        &:hover {
            color: $mono-3;
        }
    }
    & .more-less {
        float: right;
    }
}

// footer
footer {
    padding: 25px;
    background: $blue-2;
    color: $blue-4;
    & h4 {
        color: $blue-5;
    }
    & .col {
        border-right: 1px solid $blue-3;
    }
}
#copyright {
    background-color: $mono-1;
    color: $mono-3;
    padding: 10px;
    & .col {
        margin-top: 10px;
    }
    & .social {
        text-align: center;
        vertical-align: center;
        & i {
            color: $orange-1;
            font-size: 30px;
            background: #fff;
            padding: 10px;
            margin-left: 7.5px;
            border-radius: 50%;
            width: 50px;
            vertical-align: center;
            text-align: center;
            transition: all ease-in-out .15s;
        }
        & i:hover {
            background: $orange-2;
            color: $mono-4;
        }
    }
}
