/* ----------------------------- */
/*          ORG INDEX            */
/* ----------------------------- */

// search bar
.org_search {
    & input {
        margin-bottom: 10px;
        padding: 25px;
        font-size: x-large;
        color: $mono-2;
    }
    & .btn {
        width: 25%;
    }
}

@media screen and (max-width: 992px) {
    .org_search {
        & input {
            padding: 15px;
            font-size: large;
        }
    }
}

@media screen and (max-width: 767px) {
    .org_search {
        & input {
            padding: 15px;
            font-size: small;
        }
    }
}

// org table
.table_action_btn {
    display: inline;
    margin-right: 5px
}

@media screen and (max-width: 992px) {
     .table_action_btn {
         font-size: large;
         & span {
            display: none;
         }
    }
}

@media screen and (max-width: 767px) {
     .table_action_btn {
         background-color: transparent!important;
         padding: 0!important;
         border: none;
         & .fa-eye {
             color: #30395C;
         }
         & .fa-pencil {
             color: #F25800;
         }
         & .fa-ban {
             color: #dc3545;
         }
    }

}

/* ----------------------------- */
/*       SHOW ORGANIZATION       */
/* ----------------------------- */

.org_info {
    text-transform: uppercase;
    font-size: 1.1rem;
    & span {
        text-transform: none;
        color: $mono-2;
        font-size: 1rem;
        opacity: 0.75;
    }
}

a.skip-to {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-to:focus, a.skip-to-main:active {
    text-align: center;
    left: 0;
    width: 10%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    margin-left: 20px;
    z-index:999;
    color: #605f5f;
}
