// orange
$orange-1: #FF8D2F; 
$orange-2: #F25800;

// blue
$blue-1: #1A1F2B;
$blue-2: #30395C;
$blue-3: #4A6491;
$blue-4: #85A5CC;
$blue-5: #D0E4F2;

// mono
$mono-1: #333333;
$mono-2: #5c5c5c;
$mono-3: #D5D3D5; 
$mono-4: #F3F1F3;
$mono-5: #f7f7f7;
