<!------------------------------------------>
<!-- standards sidebar menu items -->
<!------------------------------------------>

<a class="btn btn-outline-success btn-block" href="#" role="button">
    <i class="fa fa-lightbulb-o"></i> Request A Feature
</a>
<a class="btn btn-outline-danger btn-block" href="#" role="button">
    <i class="fa fa-bug"></i> Report A Bug
</a>

