<!DOCTYPE html>
<html>
<head>
  <title>Donatable</title>
  <%= stylesheet_link_tag    "donatable/application", media: "all" %>
  <%= javascript_include_tag "donatable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
