<% content_for :title do %>
    New Organization | Donatable
<% end %>

<% content_for :jumbotron do %>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">New Organization</h1>
          <p class="lead">
            Create a new organization to add to this donations drive.
          </p>
        </div>
    </div>
<% end %>

<% content_for :main do %>
    <div class="col-12 col-md-9 pull-md-3 bd-content">
        <%= render 'form', organization: @organization %>
    </div>
    <div class="col-12 col-md-3 push-md-9 bd-sidebar">
        <h3>More Info</h3>
        <img src="http://via.placeholder.com/400x300" width="100%" height="auto" alt="placeholder" tabindex="0" />
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <%#= render 'layouts/donatable/sidebar' %>
        <%= link_to organizations_path, class: 'btn btn-secondary btn-block' do %>
            <i class="fa fa-arrow-circle-left"></i> Back to Search
        <% end %>
    </div>
<% end %>
